body{
  text-align: center;
}
form{
  text-align: center;
}

#addItem{
  text-align: right;
}

.options{
  margin: 10px;
  float: left;
}

.hide{
  visibility: hidden;
}
/*a{
  height: 80px;
  width: 100px;
  margin: 0px;
}*/

h1{
  align-items: center;
}
